<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

            <!-- Campo del producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">
                    <input required type="text" class="form-control" placeholder="Nombre del producto" [ngModel]="initForm.producto" name="producto" minlength="3">
                    
                    <span class="form-text text-danger" *ngIf='nombreValido()'>Debe de ser de 3 letras</span>
                </div>
            </div>

            <!-- Campo del precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input required min="0" type="number" class="form-control" placeholder="Precio del producto" [ngModel]="initForm.precio" name="precio">
                    <span class="form-text text-danger" *ngIf='precioValido()'>El precio debe de ser 0 o mayor</span>
                </div>
            </div>

            <!-- Campo de las existencias del producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" required customMin [minimo]="0" class="form-control" placeholder="Existencias del producto" [ngModel]="initForm.existencias" name="existencias">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.invalid">
                        Guardar
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="rol">
    <div class="col">

        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched</span>
        <pre>{{miFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

    </div>
</div>