<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">


            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">

                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del usuario">

                    <span *ngIf="campoNoValido('nombre')" class="form-text text-danger"> Debe de ser en formato de
                        nombre y apellido </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">

                    <input type="email" formControlName="email" class="form-control" placeholder="Correo del usuario">
                    <span *ngIf="campoNoValido('email')" class="form-text text-danger">{{emailErrorMsg}}</span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">

                    <input type="text" formControlName="username" class="form-control" placeholder="Codigo del usuario">
                    <span *ngIf="campoNoValido('username')" class="form-text text-danger"> El username no puede ser
                        strider </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">

                    <input type="password" class="form-control" formControlName="password"
                        placeholder="Contraseña del usuario">
                    <span *ngIf="campoNoValido('password')" class="form-text text-danger"> La contraseña debe ser mayor
                        a 6 caracteres </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">

                    <input type="password" class="form-control" formControlName="passwordConfirmation"
                        placeholder="Confirmar contraseña del usuario">
                    <span *ngIf="campoNoValido('passwordConfirmation')" class="form-text text-danger">La contraseñas deben coincidir </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.pending">
                        Crear
                    </button>
                </div>
            </div>


        </form>


    </div>
</div>

<h2>FormValid : {{miFormulario.valid}}</h2>

<h2>Status : {{miFormulario.status | json}}</h2>

<h2>Pending : {{miFormulario.pending | json}}</h2>

<h2>FormErrors : {{miFormulario.errors | json}}</h2>

<pre>Nombre  {{miFormulario.controls['nombre'].errors | json}}</pre>
<pre>Email {{miFormulario.controls['email'].errors | json}}</pre>
<pre>Password: {{miFormulario.controls['password'].errors | json}}</pre>
<pre>conPassword: {{miFormulario.controls['passwordConfirmation'].errors | json}}</pre>